@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    margin: 0;
    padding: 0;
    background-color: #FAFAFA;
}

.underline {
    text-decoration: underline;
    text-underline-offset: 4px;
  }

.border-verde {
    border-color: #17EB26;
  }